extends layout

block content
	h1= title
	p Welcome to our site, the best place to meet other travelers and find the perfect itinerary for your next adventure. 

	p(style='padding:20px')

	form.form-horizontal.container(method='POST' action='')

		div.form-group
			label.col-sm-12(for='destination' style='font-size: 24px' control-label) Where would you like to go?
			div.col-sm-10
				input#destination.form-control(type='text' placeholder='Enter destination city' name='destination' required='true')

			button.btn.btn-primary(type='submit') Go

	p(style='padding:20px')

	p 
		| <br> Or perform a 
		span: a(href='/') refined search
